.editCategoryWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.underline{
    margin-top: 10px;
    margin-bottom: 30px;
    width:150px;
    height:2px;
    background-color: #f14d54;
}
.textFieldWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}