.categoryWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.underline{
    margin-top: 10px;
    margin-bottom: 30px;
    width:150px;
    height:2px;
    background-color: #f14d54;
}
.addAndSearch{
    width:87%;
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}